.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns-ctn {
    display: flex;
    justify-content: end;
}

.btns {
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #e47ce8 !important;
    color: #fff;
}

.btns:hover {
    background-color: #fff !important;
    color: #e47ce8;
}


.age {
    font-size: 45px;
    color: #fff;
}

.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toda-lista {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contacts{
    display: flex;
    align-items: center;
    text-align: center;
}

.centrando{
    display: flex;
    justify-content: center;
}

.contatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e47ce8;
    color: #fff !important;
    text-decoration: none !important;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #e47ce8;
    width: 30%;
}

.contatar:hover {
    background-color: #fff;
    color: #e47ce8 !important;
    text-decoration: none !important;
}

@media screen and (max-width: 768px) and (min-width: 200px) {
    .separado {
        display: flex;
        text-align: center;
    }

    .toda-lista {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
    }

}