.images-render{
    display: flex !important;
    text-align: center;
    margin: auto;
}

.image-profile{
    width: 100%;
    height: 250px;
}

.image-container{
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.btn-change{
    background-color: #e12ee7 !important;
    color: #fff !important;
    border: 1px solid #e12ee7;
    border-radius: 20px;
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}
.btn-change:hover{
    background-color: #fff !important;
    color: #e12ee7 !important
}

@media screen and (max-width: 768px) and (min-width: 200px)  {
    .images-render{
        display: block !important;
    }
}