.foto-profile{
    background-color: #e47ce8;
    color: #fff;
}

.informe-profile{
    color: #e47ce8;
}


.all-profile{
    width: 100%;
    height: 100%;
    display: flex;
}

.all-cards-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center !important;
}

.formularios-profile{
    display: flex !important;
    width: 100%;
}


@media screen and (max-width: 768px) and (min-width: 200px)  {
    .all-cards-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }
    .formularios-profile{
        display: block !important;
    }
}

.imagens-profile{
    display: flex !important;
}