.foto{
    background-color: #e47ce8;
    color: #fff;
}

.informe{
    color: #e47ce8;
}

.all{
    width: 100%;
    height: 100%;
    display: flex;
}

.all-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
}

.formularios{
    display: flex !important;
}

.campos-images{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) and (min-width: 200px)  {
    .all-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }
    .formularios{
        display: block !important;
    }
}