body {
    background-color: #131313 !important;
}

.escolha{
    display: flex;
}

.msg {
    display: block;
    width: 20%;
    padding: 4%;
    margin: auto;
    color: #e47ce8;
    text-align: center;
    z-index: 999;
    padding: 11% 0;
}

.btnse{
    border-radius: 20px !important;
    border: 1px solid #e47ce8;
    background-color: #ffffff00 !important;
    color: #e47ce8 !important;
}
.btnse:hover{
    color: #ffffff !important;
    transition: 0.3s;
}


.content {
    width: 100%;
    height: 100%
}

.anunciar{
    border-radius: 20px !important;
}

.anunciante {
    text-decoration: none !important;
}

.anunciante:hover {
    text-decoration: none !important;
    background-color: #fff !important;
}

.anunciante-card{
    text-decoration: none !important;
    width: 320px !important;
    max-width: 270px;
    height: 400px;
}

.apresentacao {
    text-align: center;
    font-size: 27px;
    color: #fff;
}


.anuncio {
    margin: 10px;
}

.anuncio:hover {
    cursor: pointer;
}

.card-content {
    display: flex;
    justify-content: space-around;
}

.img-card-home {
    object-fit: contain !important;
    margin: auto;
}


.card {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) and (min-width: 200px) {
    .card {
        display: flex !important;
    }

    .anunciante-card {
        width: 180px !important;
        max-width: 270px;
        height: 200px;
    }

    .img-card-home {
        width: 175px;
        margin: auto;
        object-fit: cover !important;
    }

    .escolhas {
        display: flex;
        flex-wrap: wrap;
    }

    .btnse {
        margin: 3px !important;
        width: 55px !important;
        padding: 0px 20px !important;
        font-size: 11px !important;
    }

    .image-card-adm {
        object-fit: fill !important;
        max-height: 250px !important;
        margin: auto;
    }

    .escolha-sexo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .escolha{
        display: flex;
        flex-direction: row !important;
        width: 40%;
    }

}

.escolha-local {
    display: flex;
    width: 45%;
}

.local {
    background-color: #e47ce8 !important;
    color: #fff;
    margin-right: 20px;
    border-radius: 20px !important;
}


.valores-local {
    background-color: #e47ce8 !important;
}

@media screen and (max-width: 768px) and (min-width: 200px) {
    .msg {
        display: block;
        width: 50%;
        padding: 4%;
        margin: auto;
        color: #e47ce8;
        text-align: center;
        z-index: 999;
        padding: 45% 0;
    }

    .escolha-local {
        display: flex;
        justify-content: center;
    }

    .local{
        padding: 2px 30px !important;
        text-align: center;
    }

    .escolha {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #e47ce8;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}