body{
    background-color: #131313 !important;
}

.content{
    width: 100%;
    height: 100%
}

.anunciante{
    text-decoration: none !important;
}

.anunciante:hover{
    text-decoration: none !important;
    background-color: #fff !important;
}

.apresentacao{
    text-align: center;
    font-size: 27px;
    color: #fff;
    border-bottom: 2px solid #f700ff;
}

.anuncio{
    margin: 20px;
}

.anuncio:hover{
    cursor: pointer;
}

.card-content{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) and (min-width: 200px)  {
    .card{
        display: flex;
        flex-direction: column;
    }
}


.card{
    display: flex;
    width: 40%;
}