.link-navbar{
    color: #fff !important;
}
.link-navbar:hover{
    color: #e47ce8 !important;
    background-color: #fff !important;
}

.anunciar{
    background-color: #e47ce8;
    border: 1px solid #e47ce8;
    padding: 2.5px 10px;
    border-radius: 5px;
}
.anunciar:hover{
    text-decoration: none !important;
    background-color: #fff;
    color: #e47ce8;
}

.navbar{
    display: flex !important;
    justify-content: end !important;
    width: 90%;
}