.link-navbar {
    color: #fff !important;
}

.navbar.transparent {
    background-color: transparent;
  }
  

.link-navbar:hover {
    color: #e47ce8 !important;
    background-color: #fff !important;
}

.anunciar {
    background-color: #e47ce800 !important;
    color: #e47ce8 !important;
    border: 1px solid #e47ce8;
    padding: 4px 10px;
    border-radius: 5px;
}

.anunciar:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.navbar {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    width: 90%;
}

.sair{
    border-radius: 20px !important;
}

.sair:hover {
    background-color: #fff !important;
    color: #e47ce8 !important;
}

.display {
    display: flex;
    border-radius: 0 0 20px 20px;
}

@media screen and (max-width: 768px) and (min-width: 200px) {
    .anunciar {
        font-size: 14px !important;
        border-radius: 50px;
    }

    .display {
        display: block;
    }

    .navbar {
        justify-content: space-around !important;
    }
}