.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* cor do fundo com transparência */
    z-index: 9999; /* colocando o loading por cima de todos os outros elementos */
  }