.foto{
    background-color: #f104f1;
    color: #fff;
}

.all{
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (max-width: 768px) and (min-width: 200px)  {
    .all-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 10px;
        flex-wrap: wrap;
    }

    .all{
        margin: auto;
    }
}