version: '3'

services:
  app:
    build: .
    command: yarn start:dev
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/app
    networks:
      - app-network
  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    depends_on:
      - app
  db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: admin
    networks:
      - app-network
networks:
  app-network: